* {
  margin: 0px;
  padding: 0px;
  font-family: xx-large, sans-serif;
}

body {
  background: url("../img/image.png") repeat 0 0;
  margin: 10%;
}

h1 {
  margin-top: 50px;
  color: royalblue;
  text-align: center;
  font-size: 50px;
}

h2 {
  margin-top: 30px;
  color: black;
  text-align: center;
  font-size: 30px;
}

canvas {
  border: 10px solid #ffd919;
  background-size: 20px 20px;
  margin-top: 10%;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to top, grey 1px, transparent 1px);
  background-color: white;
  float: left;
  width: 50%;
  height: 320px;
}

#inputs {
  float: right;
  position: relative;
  margin-top: 12%;
  width: 40%;
  display: inline;
  vertical-align: middle;
}

input {
  background-color: white;
  position: relative;
  float: right;
  width: 40%;
  display: inline;
  height: 50%;
  text-align: center;
  font-size: 150%;
  bottom: 35px;
}

p {
  position: relative;
  float: left;
  display: inline;
  height: 50%;
  width: 60%;
  text-align: center;
  font-size: 150%;
  color: mediumorchid;
  margin: 5px;
}